<!DOCTYPE html>
<html>
    <head><title>about page</title>
        <link rel='icon' href='/image/icon2.jpeg'>
        <link rel="stylesheet" href="/css/index.css">
        
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <h1>
                This come from about html pages
                <img src="/image/img1.jpeg">
            </h1>
        <h3>Created by {{name}} at {{location}}</h3>
        </div>

        {{>footer}}
    </body>
</html>