<!DOCTYPE html>
<html>
    <head>
        <title>This the help Page</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Wellcome how I can help you</h1>
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>
</html>