<!DOCTYPE html>
<html>
    <head>
        <title>404 Erore</title>
        <link rel="stylesheet" href="/css/index.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h5>{{errorMessage}}</h5>
        </div>
        {{>footer}}
    </body>
</html>